*{
    margin: 0;
    padding: 0;
}

.heading{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 32px;
}
p{
    font-family: 'Montserrat', sans-serif;

}
h3{
    font-family: 'Montserrat', sans-serif;

}
.text{
    font-family: 'Montserrat', sans-serif;
}
.top{
    
    text-align: center;
    
}
#mapid {
    margin: auto;
    height: 500px;
    width: 100%; 
}

.dp{
    width: 250px;
}

#demo{
  display: flex;
  justify-content: space-between;
  min-width: 0px;
  overflow: scroll;
  padding: 5px
}

.location{
    text-align: center;
}